<!-- BEGIN CONTAINER -->
<div class="page-container row">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar mini" id="main-menu">
        <!-- BEGIN MINI-PROFILE -->
        <div class="page-sidebar-wrapper scrollbar-dynamic scroll-content scroll-scrollx_visible scroll-scrolly_visible" id="main-menu-wrapper">
            <div class="user-info-wrapper sm">
                <div class="profile-wrapper sm">
                    <img src="https://oneanalytics.github.io/assetsweb/img/profiles/avatar.jpg" alt="" data-src="https://oneanalytics.github.io/assetsweb/img/profiles/avatar.jpg" data-src-retina="https://oneanalytics.github.io/assetsweb/img/profiles/avatar2x.jpg" width="69" height="69" />
                    <div class="availability-bubble online"></div>
                </div>
                <div class="user-info sm">
                    <div class="username">Fred <span class="semi-bold">Smith</span></div>
                    <div class="status">Life goes on...</div>
                </div>
            </div>
            <!-- END MINI-PROFILE -->
            <!-- BEGIN SIDEBAR MENU -->
            <p class="menu-title sm">BROWSE <span class="pull-right"><a href="javascript:;"><i class="material-icons">refresh</i></a></span></p>
            <ul>
                <li class="start  open active "> <a href="index.html"><i class="material-icons">home</i> <span class="title">Dashboard</span> <span class="selected"></span> <span class="arrow  open "></span> </a>
                    <ul class="sub-menu">
                        <li> <a href="dashboard_v1.html"> Dashboard v1 </a> </li>
                        <li class=""> <a href="index.html "> Dashboard v2 <span class=" label label-info pull-right m-r-30">NEW</span></a></li>
                    </ul>
                </li>
 
                <li>
                    <a href="{{ path("datahub_index_new") }}"> <i class="material-icons">airplay</i> <span class="title">Datapool</span> </a>
                    
                </li>
                <li>
                    <a href="javascript:;"> <i class="material-icons">flip</i> <span class="title">Query Data</span> </a>
                </li>
            </ul>
            <div class="clearfix"></div>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <a href="#" class="scrollup to-edge">Scroll</a>
    <!-- END SIDEBAR -->
    